/* Style of Osu! Level Calculator */
/* Completely made by stroke by TheHowl */
body {
background: #ffb5b5;
text-align: center;}

#container {
-webkit-border-radius: 15px;
border-radius: 15px;
background: #FFF;
width: 700px;
padding-top: 13px;
padding-bottom: 10px;
min-height: 275px;
position: relative;
margin: 0 auto;
opacity: 0.9;
}

.text {
padding: 13px 26px;
font-family: verdana, arial;
font-size: 15px;
text-align: left;
}

.title {
font-size: 30px;
color: #33ADFF;
font-family: arial;
}

.divisor {
height: 1px;
background: #C5C5C5;
width: 100%
}

.submit {
-webkit-border-radius: 5px;
border-radius: 5px;
border: 1px solid #C5C5C5;
outline: none
}

.result {
color: #1BF213;
font-size: 32px
}

#footer {
background: #FFF;
height: 60px;
width: 450px;
font-size: 10pt;
padding: 0px 2px;
opacity: 0.9;
margin: 0 auto;
}

#footer:hover, #container:hover {
opacity: 1.0
}

#qa {
opacity: 0.8;
background: #FFF;
height: 45px;
width: 550px;
font-size: 18pt;
padding: 6px 2px;
margin: 0 auto;
border-radius: 9px
}

a {
text-decoration: none;
color: #33ADFF;
}